<p id="notice"><%= notice %></p>

<div class="row">
  <%= form_for :filters, html: { class: 'input-field col s12' }, method: 'get' do |f| %>
    <%= material_icon.search.css_class('prefix') %>
    <%= f.text_field :title, autofocus: true, placeholder: 'Search by title', value: params.dig(:filters, :title) %>
  <% end %>

  <% # Agrupar las notas por mes %>
  <% @notes.group_by { |note| note.created_at.strftime('%B %Y') }.each do |month, notes| %>
    <div class="col s12">
      <h5 class="month-header"><%= month %></h5>  <!-- Encabezado del mes -->
    </div>

    <% # Mostrar las notas para ese mes %>
    <% notes.each do |note| %>
      <%= link_to note_path(note) do %>
        <div class="col s12">
          <div class="card">
            <div class="card-content black-text">
              <span class="card-title">
                <%= note.title %>
                <span class="right" style="font-size: 60%; position: absolute; top: -5px; right: 5px;">
                  <%= format_as_localtime note.created_at %>
                </span>
              </span>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="fixed-action-btn">
  <%= link_to new_note_path, title: 'New note', class: 'btn-floating btn-large pulse', data: { tooltip: 'New note' } do %>
    <%= material_icon.add %>
  <% end %>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.tooltipped');
    var instances = M.Tooltip.init(elems);
  });
</script>
