<div class="row">
  <%= form_for :filters, html: { class: 'input-field col s12 filters-form' }, method: 'get' do |f| %>
    <div class="filters-container" style="display: flex; align-items: center; gap: 10px;">

    <div class="input-field" style="flex: 2;">
        <%= material_icon.search.css_class('prefix') %>
        <%= f.text_field :search, autofocus: true, placeholder: 'Search', value: params.dig(:filters, :search), class: 'validate' %>
      </div>

      <div class="input-field" style="flex: 1;">
        <%= f.select :order, [['Newest to oldest', 'desc_date'], 
                              ['Older to newer', 'asc_date'], 
                              ['Alphabetical A-Z', 'asc_alpha'], 
                              ['Alphabetical Z-A', 'desc_alpha']],
                     { selected: params.dig(:filters, :order) }, 
                     { class: 'browser-default' } %>
      </div>
      <div>
        <%= f.submit 'Apply', class: 'btn' %>
      </div>
    </div>
  <% end %>
</div>



  <% # Agrupar las notas por mes %>
  <% @notes.group_by { |note| note.created_at.strftime('%B %Y') }.each do |month, notes| %>
    <div class="col s12">
      <h5 class="month-header"><%= month %></h5>
    </div>

    <% notes.each do |note| %>
      <%= link_to note_path(note) do %>
        <div class="col s12">
          <div class="card">
            <div class="card-content black-text">
              <span class="card-title">
                <%= note.title %>
                <span class="right" style="font-size: 60%; position: absolute; top: -5px; right: 5px;">
                  <%= format_as_localtime note.created_at %>
                </span>
              </span>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>

<div class="fixed-action-btn">
  <%= link_to new_note_path, title: 'New note', class: 'btn-floating btn-large pulse', data: { tooltip: 'New note' } do %>
    <%= material_icon.add %>
  <% end %>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    var elems = document.querySelectorAll('.tooltipped');
    var instances = M.Tooltip.init(elems);

    const select = document.querySelector('[name="filters[order]"]');
    if (select) {
      const savedOrder = localStorage.getItem('notesOrder');
      if (savedOrder) select.value = savedOrder;

      select.addEventListener('change', function() {
        localStorage.setItem('notesOrder', select.value);
      });
    }
  });
</script>
