<!DOCTYPE html>
<html>
  <head>
    <title>My note collection</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <style>
      /* Estilos para el modo oscuro */
      body.dark-mode {
        background-color: #121212;
        color: #e0e0e0;
      }
      .navbar-fixed.dark-mode {
        background-color: #333;
      }
      .navbar-fixed.dark-mode .nav-wrapper {
        background-color: #333;
      }
      .brand-logo.center.dark-mode {
        color: #fff;
      }
      .btn-dark-mode {
        background-color: #333;
        color: white;
      }
    </style>
  </head>

  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <%= link_to notes_path, class: 'brand-logo center' do %>
            My note collection
          <% end %>

          <!-- Botón para cambiar a modo oscuro -->
          <a href="javascript:void(0);" class="btn btn-small waves-effect waves-light btn-dark-mode right" id="dark-mode-toggle"   style="border-radius: 50%; background-color: #333; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3); transition: background-color 0.3s, transform 0.3s;">
          <i class="material-icons">nights_stay</i>
          </a>
        </div>
      </nav>
    </div>

    <div class="container">
      <%= yield %>
    </div>

    <script>
      // Cambiar entre modo oscuro y claro
      const darkModeToggle = document.getElementById('dark-mode-toggle');

      // Verificar el estado del modo oscuro guardado en localStorage
      if (localStorage.getItem('darkMode') === 'enabled') {
        document.body.classList.add('dark-mode');
      }

      darkModeToggle.addEventListener('click', () => {
        document.body.classList.toggle('dark-mode');
        
        // Guardar el estado en localStorage
        if (document.body.classList.contains('dark-mode')) {
          localStorage.setItem('darkMode', 'enabled');
        } else {
          localStorage.setItem('darkMode', 'disabled');
        }
      });
    </script>
  </body>
</html>
